#header {
  @include position-fixed;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.header__inner {
  @include flex-between;
  padding: 1rem;

  .header__logo {
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;

    em {
      font-size: 10px;
      display: block;
      color: var(--black200);
      letter-spacing: 3px;
    }
  }

  .header__nav {
    border: 1px solid var(--black);
    padding: 1rem;
    border-radius: 2rem;
    @media (max-width: 800px) {
      display: none;
      border: 0;

      &.show {
        display: block;

        ul {
          display: block;
          position: absolute;
          right: 0;
          top: 68px;
          background-color: rgba(116, 99, 99, 0.1);
          backdrop-filter: blur(15px);
          z-index: 10000;
          min-width: 150px;
          padding: 20px 0;

          li {
            display: block;
            text-align: right;

            a {
              display: inline-block;
              padding: 10px;
            }
          }
        }
      }
      &.show + .header__nav__mobile span::before {
        width: 20px;
      }
      &.show + .header__nav__mobile span::after {
        width: 20px;
      }
    }

    li {
      display: inline;

      a {
        text-transform: uppercase;
        font-size: 14px;
        padding: 14px 20px;
        position: relative;

        &::before {
          content: "";
          width: calc(100% - 28px);
          height: 1px;
          background-color: var(--black);
          position: absolute;
          left: 14px;
          bottom: 10px;
          transform: scaleX(0);
          transition: all 0.3s;
        }
        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }

  .header__name {
    @media (max-width: 800px) {
      display: none;
    }
    p {
      font-weight: bold;
      color: var(--point-color);
      text-shadow: -1px 0px var(--black), 0px 1px var(--black),
        1px 0px var(--black), 0px -1px var(--black);
    }
  }

  .header__nav__mobile {
    display: none;
    width: 30px;
    height: 40px;
    cursor: pointer;

    @media (max-width: 800px) {
      display: block;
    }

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: var(--black);
      margin-top: 19px;
      position: relative;

      &::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--black);
        position: absolute;
        right: 0;
        top: 6px;
        transition: width 0.3s;
      }
      &::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: var(--black);
        position: absolute;
        left: 0;
        bottom: 6px;
        transition: width 0.3s;
      }
    }
  }
}
