#intro {
  height: 100vh;
}
.intro__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 16px 0 16px 16px;

  @media (max-width: 800px) {
    justify-content: center;
  }

  // intro 텍스트 + 로띠
  .intro__main {
    width: 100%;
    @include flex-between;
    opacity: 0.4; //임시 흐림효과

    .typing__effect {
      width: 56%;
      display: flex;
      align-items: center;
    }

    .intro__title {
      font-size: 5vw;
      text-transform: uppercase;
      line-height: 1;
      font-weight: 800;
      white-space: nowrap;
      text-indent: -0.5vw;
      // letter-spacing: -0.1vw;
      display: inline-block;

      @media (max-width: 320px) {
        display: none;
      }
    }
    .lottie__svg {
    }

    .cursor {
      display: inline-block;
      vertical-align: middle;
      animation: blink-animation 0.8s infinite; /* 깜빡이는 애니메이션을 추가합니다. */
      position: absolute; /* 텍스트에 상대적으로 위치하도록 설정합니다. */
      top: 0;
      right: 0; /* 커서를 텍스트의 오른쪽 끝에 위치하도록 설정합니다. */
    }

    @keyframes blink-animation {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .intro__text {
    width: 100%;
    height: 40vh;
    background-color: var(--point-color1);
    color: var(--white);
    @include flex-center;
    flex-direction: column;
    position: relative;

    .text {
      font-size: 3vw;
      line-height: 1;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      position: relative;
      z-index: 100;
      transition: all 0.3s;
      cursor: all-scroll;

      @media (max-width: 800px) {
        font-size: 24px;
      }
    }
    .img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30vh;
      height: 30vh;
      border-radius: 50%;
      overflow: hidden;
      filter: grayscale(100%);
      transition: all 0.3s;

      @media (max-width: 320px) {
        width: 20vh;
        height: 20vh;
      }
    }

    &:hover.text {
      opacity: 0;
    }
    &:hover.img {
      filter: grayscale(0);
    }
  }

  .intro__lines {
    width: 100%;

    .line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(243, 121, 108, 1);
      margin-bottom: 0.5vw;

      &:nth-child(1) {
        height: 1px;
        background-color: rgba(243, 121, 108, 0.85);
      }
      &:nth-child(2) {
        height: 2px;
        background-color: rgba(243, 121, 108, 0.7);
      }
      &:nth-child(3) {
        height: 5px;
        background-color: rgba(243, 121, 108, 0.55);
      }
      &:nth-child(4) {
        height: 9px;
        background-color: rgba(243, 121, 108, 0.4);
      }
      &:nth-child(5) {
        height: 13px;
        background-color: rgba(243, 121, 108, 0.25);
      }
      &:nth-child(6) {
        height: 17px;
        background-color: rgba(243, 121, 108, 0.1);
      }
      &:nth-child(7) {
        height: 25px;
        background-color: rgba(243, 121, 108, 0.05);
      }
    }

    &bottom {
      .line {
        margin-top: 0.5vw;
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px) {
          display: block;
        }

        &:nth-child(1) {
          height: 25px;
        }
        &:nth-child(2) {
          height: 17px;
        }
        &:nth-child(3) {
          height: 13px;
        }
        &:nth-child(4) {
          height: 9px;
        }
        &:nth-child(5) {
          height: 5px;
        }
        &:nth-child(6) {
          height: 2px;
        }
        &:nth-child(7) {
          height: 1px;
        }
      }
    }
  }
}
