#main {
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("/assets/img/overlay.gif");
  background-position: 0 0;
  background-size: 250px;
  opacity: 0.06;
  pointer-events: none;
  z-index: -10;
}
