.project__detail {
  color: var(--black200);
  padding: 20px;

  &.design1 {
    background-color: #595fb5;
    .project__img {
      border: 7px solid #595fb5;
    }
    .project__desc {
      h1 {
        color: #595fb5;
      }
    }
    .project__contents {
      .detail__img {
        transform: translate(0%, -5%);
      }
    }
  }
  &.design2 {
    background-color: #156aa1;
    .project__img {
      border: 7px solid #156aa1;
    }
    .project__desc {
      h1 {
        color: #156aa1;
      }
    }
  }
  &.design3 {
    background-color: #156aa1;
    .project__img {
      border: 7px solid #156aa1;
    }
    .project__desc {
      h1 {
        color: #156aa1;
      }
    }
    .project__contents {
      .detail__img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          filter: blur(5px) grayscale(70%);
          -webkit-filter: blur(5px) grayscale(70%);
          position: relative;
          width: 100%;
          height: 700px;
          object-fit: contain;
        }
        &.multiple img {
          width: 50%;
          object-fit: contain;
        }
        p {
          position: absolute;
          z-index: 1;
          font-size: 1.2rem;
        }
      }
    }
  }
  &.design4 {
    background-color: #3484fd;
    .project__img {
      border: 7px solid #3484fd;
    }
    .project__desc {
      h1 {
        color: #3484fd;
      }
    }
  }
  &.design5 {
    background-color: #0569ff;
    .project__img {
      border: 7px solid #0569ff;
    }
    .project__desc {
      h1 {
        color: #0569ff;
      }
    }
  }

  .project__inner {
    background-color: var(--white);
    padding: 5vw;
    border-radius: 2rem;

    .project {
      @include flex-evenly;

      width: 100%;
      max-width: 160rem;
      gap: 5rem;
      margin: 0 auto;
      transform: translateY(200px);
      transition: transform 0.5s ease-in-out;
      &.animate {
        transform: translateY(0);
        transition-property: all;
      }

      @media (max-width: 800px) {
        flex-direction: column;
      }

      .project__img {
        @include flex-center;
        width: 40%;
        min-width: 42rem;
        height: 350px;
        background-color: var(--white);
        border-radius: 2rem;

        @media (max-width: 1240px) {
          width: 100%;
          min-width: 32rem;
        }
        @media (max-width: 480px) {
          min-width: 18rem;
          height: 200px;
        }

        img {
          width: 50%;
        }
      }

      .project__desc {
        h1 {
          font-weight: var(--weight900);
          font-size: 2em;
        }
        span {
          display: block;
          margin: 20px 0 30px;
          font-size: 1.4rem;
          color: var(--black400);
        }
        p {
          font-size: 1.4rem;
        }
      }
    }

    .project__contents {
      margin: 120px 0 10px;

      .detail__img {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        border: 1px solid var(--black400);
        border-radius: 1rem;
        overflow: hidden;
      }
    }

    .project__text {
      width: 95%;
      margin: 0 auto;
      p {
        font-size: 18px;
        text-indent: -30px;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 5px;

        &:nth-child(even) {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        span {
          margin-right: 5px;
        }
      }
    }
  }
}
