.project__detail {
  color: var(--black200);

  &.design1 {
    background-color: lightblue;
    border: 10px solid lightblue;
    .project__img {
      border: 7px solid lightblue;
    }
    .project__desc {
      h1 {
        color: lightblue;
      }
    }
  }
  &.design2 {
    background-color: #1d2857;
    .project__img {
      border: 7px solid #1d2857;
    }
    .project__desc {
      h1 {
        color: #1d2857;
      }
    }
  }
  &.design3 {
    background-color: #156aa1;
    border: 10px solid #156aa1;
    .project__img {
      border: 7px solid #156aa1;
    }
    .project__desc {
      h1 {
        color: #156aa1;
      }
    }
  }
  &.design4 {
    background-color: #595fb5;
    .project__img {
      border: 7px solid #595fb5;
    }
    .project__desc {
      h1 {
        color: #595fb5;
      }
    }
  }

  padding: 20px;
  height: 100vh;

  .project__inner {
    background-color: var(--white);
    padding: 5vw;
    border-radius: 2rem;

    .project {
      @include flex-evenly;

      width: 100%;
      max-width: 160rem;
      gap: 5rem;
      margin: 0 auto;

      .project__img {
        @include flex-center;
        width: 40%;
        min-width: 42rem;
        height: 350px;
        background-color: var(--white);
        border-radius: 2rem;
        img {
          width: 50%;
        }
      }

      .project__desc {
        h1 {
          font-weight: var(--weight900);
          font-size: 2em;
        }
        span {
          display: block;
          margin: 20px 0 30px;
          a {
            color: var(--black300);
          }
        }
        p {
          font-size: 1.4rem;
        }
      }
    }

    .project__contents {
      margin: 80px 0;
    }
  }
}

.project,
.project__contents {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.project.animate,
.project__contents.animate {
  transform: translateY(0);
}
