.page-detail.design1 {
  background-color: lightblue;
  color: darkblue;
}

.page-detail.design2 {
  background-color: lightgreen;
  color: darkgreen;
}

.page-detail.design3 {
  background-color: lightcoral;
  color: darkred;
}

.page-detail.design4 {
  background-color: lightgoldenrodyellow;
  color: goldenrod;
}
