:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";

  --mainBg-color: #ffbe98;
  --subBg100: #f4ceb7;
  --subBg200: #e2bb9a;
  --subBg300: #d68861;
  --subBg400: #ca848a;
  --subBg500: #964f4c;
  --subBg600: #a78c7b;
  --subBg700: #dbc8bd;
  --subBg800: #85677b;
  --subBg900: #c5a253;

  //#ffbe98, #f4ceb7, #d68861, #e2bb9a , #ca848a, #964f4c, #a78c7b, #dbc8bd, #85677b, #c5a253

  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;

  --weight100: 100;
  --weight200: 200;
  --weight300: 300;
  --weight400: 400;
  --weight500: 500;
  --weight600: 600;
  --weight700: 700;
  --weight800: 800;
  --weight900: 900;

  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  background-color: var(--white);
}
